.FooterContainer {
    color: whitesmoke;
    font-family: 'Proza Libre', sans-serif;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    nav {
        font-size: 0.5rem;
        margin-top: 1rem;
        
        h2 {
            font-size: 0.75rem;
            list-style-type: none;
            text-decoration: none; 
            padding: 0rem 1.75rem; 
            display: inline-block;
            text-align: center;
        }
        ul {
            li {
                list-style: none;
                a {
                    text-decoration: none; 
                    color: whitesmoke;
                    padding-left: 0rem;
                    &:hover {
                        text-decoration: none;
                        color: orangered;    
                    }
                }
            }
        }
    }
    
}