header {
    position: sticky;
    top: 0;
    z-index: 1;
    .MenuContainer1 {   
        color: whitesmoke;
        font-family: 'Proza Libre', sans-serif;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Principal {
            #Nombre {
                font-size: 1.5rem;
                letter-spacing: 0.25rem;
            }
            .LogoPrincipal {
                width: 6rem;
                height: 6rem;
            } 
            section {
                .form {
                    width: 100%;
                    height: 2rem;
                    max-width: 20rem;
                    position: relative;
                    overflow: hidden;
                    input {
                        width: 100%;
                        height: 100%;
                        background: gray;
                        color: #fff;
                        padding-top: 1.0rem;
                        border: none;
                        outline: 0%;
                        .lbl-nombre {
                            position: absolute;
                            bottom: 0%;
                            left: 0%;
                            width: 100%;
                            height: 100%;
                            pointer-events: none;
                            border-bottom: 1px solid #c7c7c7;
                            &::after {
                                content: ' ';
                                position: absolute;
                                bottom: -1px;
                                left: 0%;
                                width: 100%;
                                height: 100%;
                                border-bottom: 3px solid #2ecece;
                                transform: translateX(-100%);
                                transition: all 0.3s ease;
                            }
                            .text-nomb {
                                position: absolute;
                                bottom: 5px;
                                left: 0%;
                                transition: all 0.3s ease;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }    
        .Menu {
            font-size: 0.75rem;
            width: 18rem;
            display: flex;
            justify-content: space-around;   
            div {
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                        &:hover {
                            text-decoration: none;
                            color: rgb(255, 60, 0);
                        }
                    }
                }
            } 
        }
    }
    section {
        .MenuContainer2 {
            color: whitesmoke;
            font-family: 'Proza Libre', sans-serif;
            width: 100%;
            background-color: rgb(255, 167, 2);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.3rem 0rem;
            .ListaPrincipal {
                width: 100%;
                display: flex;
                justify-content: space-around;
                font-size: 0.75rem;
                div {
                    li {
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            color: black;
                            &:hover {
                                text-decoration: none;
                                color: rgb(255, 60, 0);
                            }
                        }
                    }
                } 
            }
        }
    }    
}  

.form input:focus + .lbl-nombre .text-nomb, 
.form input:valid + .lbl-nombre .text-nomb
{
    transform: translateY(-150%);
    font-size: 0.5rem;
    color: #2ecece;
}

.form input:focus + .lbl-nombre::after, 
.form input:valid + .lbl-nombre::after
{
    transform: translateY(0%);
}




