@media (max-width: 800px)
{
      
    .busca {
        display: none;
    }

    header .MenuContainer1 .Principal #Nombre {
        font-size: 1rem;
        letter-spacing: 0.25rem;
      }

    header .MenuContainer1 .Principal .LogoPrincipal{
        width: 3rem;
        height: 3rem;
        }

    .MenuContainer2 .ListaPrincipal {
        
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .FotoEnlaceSecundarioItem {
        flex-wrap: wrap;
    }

    .FotoEnlaceSecundarioItem .ImagenesLink {
        height: 4rem;
        width: 4rem;
    }

    .FooterContainer {
        display: flex;
        flex-direction: column;
    }
    .container .d-block {
        height: 10rem;
    }

}

@media (max-width: 600px) {
    .Menu {
        flex-direction: column;
        margin-left: 1rem;
    }
    header .MenuContainer1 .Principal #Nombre {
        font-size: 0.75rem;
        letter-spacing: 0.25rem;
        margin-left: 0.5rem;
      }

    header .MenuContainer1 .Principal .LogoPrincipal{
        width: 2rem;
        height: 2rem;
        }
}
