@mixin encabezados ( $tamanio, $margin, $padding, $decoracion) {
font-family: 'Proza Libre', sans-serif;
color: whitesmoke;
font-size: $tamanio;
margin: $margin;
padding: $padding;
text-decoration: $decoracion;
}

.h3Servicios {
    @include encabezados(1.25rem, 0.25rem 0rem, 0rem, none )
}

.h3CalculoEnvio {
    @include encabezados(1.25rem, 0.25rem 0rem, 0rem, none )
}

.h3Politicas {
    @include encabezados(1.25rem, 0.25rem 0rem, 0rem, none )
}

.h4Franquicias {
    @include encabezados(1.25rem, 0.25rem 0rem, 0rem, none )
}

.h4Servicios {
    @include encabezados(1.4rem, 0rem, 0.75rem, none )
}

.h4Politicas {
    @include encabezados(1.15rem, 0rem, 0.75rem, none )
} 

.h6Promo {
    @include encabezados(1.15rem, 0rem, 0.75rem, none )
}

.h4Nosotros{
    @include encabezados(1.15rem, 0rem, 0.75rem, none )
}

.h4CalculoEnvio a {
    @include encabezados(1.2rem, 0rem, 0rem, none );
    text-decoration-style: bold;
}

p {
    @include encabezados(0.9rem, 0rem, 0.75rem, none )
}

.h4Sucursales {
    font-size: 1rem;
    color:black;
}